form{
    color: $very-dark-violet;
    width: 350px;
    display: grid;
    position: relative;

    .form-container{
        display: grid;
        gap: 1rem;
        height: auto;
        padding: 1rem;
    }

    .form-input{
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 15px;

        & > label{
            font-size: 15px;
        }

        & > input{
            width: 100%;
            height: 2rem;
            padding: 5px;
            border-radius: 5px;
        }
    }

    .card-det{
        display: flex;
        gap: 2%;
        font-size: 14px;
        width: 100%;
        // align-items: center;

        &_left{
            display: block;
            width: 49%;

            &-info{
                display: flex;
                gap: 3%;
                align-items: center;

                & > input{
                    width: 49%;
                    padding: .4rem;
                    border-radius: 5px;
                }
            }
        }

        &_right{
            display: flex;
            flex-direction: column;
            width: 49%;

            & > input{
                padding: .4rem;
                border-radius: 5px;
            }
        }
    }
}

input{
    border: 2px solid $light-grayish-violet;
    cursor: pointer;
}
input:active{
    border: 2px solid hsl(272, 25%, 90%);
}

.error-message{
    color: $error-message;
    display: none;
}

.sub-btn{
    width: 100%;
    background: $very-dark-violet;
    color: $light-grayish-violet;
    height: 2.2rem;
    border-radius: 5px;
    cursor: pointer;
}

.hide-form{
    visibility: hidden;
}

// Adding error message to invalid and incorrect form fields
.section-error > input{
    border: 2px solid $error-message;
}

.section-error .error-message{
    display: block;
}

.special-error{
    border: 2px solid $error-message;
}