form{
    color: $very-dark-violet;
    width: 350px;
    display: grid;
    position: relative;

    @media(max-width: 37.5rem){
        width: 320px;
    }

    .form-container{
        display: grid;
        gap: 1rem;
        height: auto;
        padding: 1rem;

        @media(max-width: 37.5rem){
            padding: 0;
        }
    }

    .form-input{
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 15px;
        gap: .4rem;
        text-transform: uppercase;

        & > label{
            font-size: 15px;
        }

        & > input{
            width: 100%;
            height: 2.4rem;
            padding: 5px;
            border-radius: 5px;
            border: 2px solid $light-grayish-violet;

            &:hover{
                border: 2px solid hsl(272, 73%, 85%);
            }
        }
    }

    .card-det{
        display: flex;
        gap: 2%;
        font-size: 14px;
        width: 100%;
        text-transform: uppercase;
        // align-items: center;

        &_left{
            display: flex;
            flex-direction: column;
            width: 49%;
            gap: .4rem;

            &-info{
                display: flex;
                gap: 3%;
                align-items: center;

                & > input{
                    width: 49%;
                    padding: .4rem;
                    border-radius: 5px;
                    border: 2px solid $light-grayish-violet;

                    &:hover{
                        border: 2px solid hsl(272, 73%, 85%);
                    }
                }
            }
        }

        &_right{
            display: flex;
            flex-direction: column;
            width: 49%;
            gap: .4rem;

            & > input{
                padding: .4rem;
                border-radius: 5px;
                border: 2px solid $light-grayish-violet;

                &:hover{
                    border: 2px solid hsl(272, 73%, 85%);
                }
            }
        }
    }
}

.error-message{
    color: $error-message;
    display: none;
}

.sub-btn{
    width: 100%;
    background: $very-dark-violet;
    color: $light-grayish-violet;
    height: 2.3rem;
    border-radius: 5px;
    cursor: pointer;
}

.hide-form{
    visibility: hidden;
}

// Adding error message to invalid and incorrect form fields
.section-error .card-input{
    border: 2px solid $error-message;
}

.section-error .error-message{
    display: block;
}

.special-error{
    border: 2px solid $error-message;
}