.credit-card{
    width: 30%;
    height: 100%;
    display: grid;
    gap: 1rem;
     z-index: 5;

    &_top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: auto;
        width: 325px;
        height: 180px;
        padding: .8rem;
        border-radius: 5px;
        position: relative;
        background-image: url('/src/images/bg-card-front.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &_circle > img{
            max-width: 20%;
        }

        .holder{
            display: grid;
            gap: .5rem;
            width: 100%;
            font-size: 25px;
            color: $light-grayish-violet;

            &_name{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 11px;

                &-client{
                    text-transform: uppercase;
                }
            }
        }
    }

    &_bottom{
        position: relative;
        margin-left: auto;
        width: 325px;
        height: 180px;
        border-radius: 5px;
        color: $light-grayish-violet;
        background-image: url('/src/images/bg-card-back.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .cvv{
            position: absolute;
            right: 2rem;
            top: 5rem;
            font-size: 15px;
        }
    }
}