
    $light-blue: hsl(249, 99%, 64%);
    $light-violet: hsl(278, 94%, 30%);
    $error-message: hsl(0, 100%, 66%);
    $white: hsl(0, 0%, 100%);
    $light-grayish-violet: hsl(279, 3%, 87%);
    $dark-greyish-violet: hsl(279, 6%, 55%);
    $very-dark-violet: hsl(278, 68%, 11%);