.thank-you{
    position: absolute;
    display: none;
    flex-direction: column;
    row-gap: .5rem;
    width: 300px;
    z-index: 150;
    padding: 1rem;
    background: transparent;
    align-items: center;
    place-self: center;

    & > img{
        max-width: 20%;

        @media(max-width: 37.5rem){
            max-width: 30%;
        }
    }

    &_head{
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: .5rem;
        color: $very-dark-violet;

        @media(max-width: 37.5rem){
            font-size: 25px;
            letter-spacing: 3px;
            margin-top: 1rem;
        }
    }

    &_info{
        font-size: 13px;
        color: $dark-greyish-violet;
        margin-bottom: 1rem;

        @media(max-width: 37.5rem){
            font-size: 13.5px;
            letter-spacing: 1px;
        }
    }
}

.show-thanks{
    display: flex;
}