footer {
  margin-top: auto;
  z-index: 5;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(249, 99%, 64%);
}

.attribution a {
  color: hsl(0, 100%, 66%);
}

form {
  color: hsl(278, 68%, 11%);
  width: 350px;
  display: grid;
  position: relative;
}
@media (max-width: 37.5rem) {
  form {
    width: 320px;
  }
}
form .form-container {
  display: grid;
  gap: 1rem;
  height: auto;
  padding: 1rem;
}
@media (max-width: 37.5rem) {
  form .form-container {
    padding: 0;
  }
}
form .form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  gap: 0.4rem;
  text-transform: uppercase;
}
form .form-input > label {
  font-size: 15px;
}
form .form-input > input {
  width: 100%;
  height: 2.4rem;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid hsl(279, 3%, 87%);
}
form .form-input > input:hover {
  border: 2px solid hsl(272, 73%, 85%);
}
form .card-det {
  display: flex;
  gap: 2%;
  font-size: 14px;
  width: 100%;
  text-transform: uppercase;
}
form .card-det_left {
  display: flex;
  flex-direction: column;
  width: 49%;
  gap: 0.4rem;
}
form .card-det_left-info {
  display: flex;
  gap: 3%;
  align-items: center;
}
form .card-det_left-info > input {
  width: 49%;
  padding: 0.4rem;
  border-radius: 5px;
  border: 2px solid hsl(279, 3%, 87%);
}
form .card-det_left-info > input:hover {
  border: 2px solid hsl(272, 73%, 85%);
}
form .card-det_right {
  display: flex;
  flex-direction: column;
  width: 49%;
  gap: 0.4rem;
}
form .card-det_right > input {
  padding: 0.4rem;
  border-radius: 5px;
  border: 2px solid hsl(279, 3%, 87%);
}
form .card-det_right > input:hover {
  border: 2px solid hsl(272, 73%, 85%);
}

.error-message {
  color: hsl(0, 100%, 66%);
  display: none;
}

.sub-btn {
  width: 100%;
  background: hsl(278, 68%, 11%);
  color: hsl(279, 3%, 87%);
  height: 2.3rem;
  border-radius: 5px;
  cursor: pointer;
}

.hide-form {
  visibility: hidden;
}

.section-error > input {
  border: 2px solid hsl(0, 100%, 66%);
}

.section-error .error-message {
  display: block;
}

.special-error {
  border: 2px solid hsl(0, 100%, 66%);
}

.credit-card {
  width: 30%;
  height: 100%;
  display: grid;
  gap: 1rem;
  z-index: 5;
}
@media (max-width: 37.5rem) {
  .credit-card {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    gap: 0;
  }
}
.credit-card_top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
  width: 325px;
  height: 180px;
  padding: 0.8rem;
  border-radius: 5px;
  position: relative;
  background-image: url("/src/images/bg-card-front.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 15px 30px 6px rgba(175, 173, 173, 0.4);
}
@media (max-width: 37.5rem) {
  .credit-card_top {
    width: 270px;
    height: 150px;
    z-index: 5;
    top: -4.1rem;
  }
}
.credit-card_top_circle > img {
  max-width: 20%;
}
.credit-card_top .holder {
  display: grid;
  gap: 0.5rem;
  width: 100%;
  font-size: 25px;
  color: hsl(279, 3%, 87%);
}
@media (max-width: 37.5rem) {
  .credit-card_top .holder {
    font-size: 22px;
  }
}
.credit-card_top .holder_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
}
.credit-card_top .holder_name-client {
  text-transform: uppercase;
}
.credit-card_bottom {
  position: relative;
  margin-left: auto;
  width: 325px;
  height: 180px;
  border-radius: 5px;
  color: hsl(279, 3%, 87%);
  background-image: url("/src/images/bg-card-back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 37.5rem) {
  .credit-card_bottom {
    width: 270px;
    height: 150px;
  }
}
.credit-card_bottom .cvv {
  position: absolute;
  right: 2rem;
  top: 5rem;
  font-size: 15px;
}
@media (max-width: 37.5rem) {
  .credit-card_bottom .cvv {
    top: 4rem;
    font-size: 13px;
  }
}

.main {
  display: flex;
  gap: 5%;
  width: 100%;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
}
@media (max-width: 37.5rem) {
  .main {
    flex-direction: column;
    width: 320px;
    gap: 0;
    margin-top: 2rem;
    align-self: center;
  }
}

.thank-you {
  position: absolute;
  display: none;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 300px;
  z-index: 150;
  padding: 1rem;
  background: transparent;
  align-items: center;
  place-self: center;
}
.thank-you > img {
  max-width: 20%;
}
@media (max-width: 37.5rem) {
  .thank-you > img {
    max-width: 30%;
  }
}
.thank-you_head {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  color: hsl(278, 68%, 11%);
}
@media (max-width: 37.5rem) {
  .thank-you_head {
    font-size: 25px;
    letter-spacing: 3px;
    margin-top: 1rem;
  }
}
.thank-you_info {
  font-size: 13px;
  color: hsl(279, 6%, 55%);
  margin-bottom: 1rem;
}
@media (max-width: 37.5rem) {
  .thank-you_info {
    font-size: 13.5px;
    letter-spacing: 1px;
  }
}

.show-thanks {
  display: flex;
}

.modal {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  display: none;
  z-index: 10;
}

.show-modal {
  display: block;
}